.all{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top:5%;
    float:left;
    min-height:600px;
    background: transparent;
}

.first{
    float:left;
    width: 28%;
    height: 300px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first:hover{
    transform: scale(1.1,1.1);
}

.first p{
    font-family: segoe script regular;
    font-size:18px;
    color: rgb(80,80,80);
    text-align: center;
}

.first-social{
    margin-bottom: 5%;
}

.first h1{
    font-family: calibri;
    text-align: center;
    color: rgb(80,80,80);
}

a:visited{
    color: rgb(80,80,80);
}

a{
    font-size: 28px;
}

.bi-instagram{
    color:#ee293f;
}

.bi-facebook{
    color:rgb(11, 124, 168);
}

.bi-twitter{
    color:rgb(44, 177, 230);
}